.nasa-title-header {
  font-size: 2.6rem;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
  color: #fc3d21;
}

.nasa-images {
  display: flex;
  justify-content: center;
}

.nasa-images-frame {
  width: 90%;
  height: 90%;
}

.nasa-date {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.nasa-date-text {
  font-size: 1.6rem;
}

.nasa-explan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0 60px 0;
}

.nasa-explan-text {
  font-size: 1.4rem;
  width: 80%;
  height: 100%;
  align-self: center;
  text-align: center;
  line-height: 1.6;
}

/*

Media Queries

*/

@media (max-width: 768px) {
  .nasa-explan-text {
    width: 89%;
  }

  .nasa-explan {
    margin-bottom: 20%;
  }

  .nasa-images-frame {
    width: 95%;
    height: 95%;
  }
}

@media (max-width: 320px) {
  .nasa-explan-text {
    width: 84%;
  }
}
